<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzw.animalserve.mapper.BiologyImageMapper">

    <!-- 通用设置 -->
    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        biology_id
        , Image_Information_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="BiologyImageByCondition">
        <if test="imageInformationId!=null and imageInformationId!=''">
            AND Image_Information_id = #{imageInformationId}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="BiologyImageSetColumns">
        <if test="imageInformationId!=null and imageInformationId!=''">
            Image_Information_id = #{imageInformationId},
        </if>
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BiologyImageMap" type="com.zzw.animalserve.entity.BiologyImage">
        <id column="biology_id" property="biologyId"/>
        <result column="Image_Information_id" property="imageInformationId"/>
        <association property="imageInformation" javaType="com.zzw.animalserve.entity.ImageInformation" select="com.zzw.animalserve.mapper.ImageInformationMapper.findImageInformationByimageInformationId" column="Image_Information_id"></association>
    </resultMap>

    <!-- 查询表biology_image所有信息 -->
    <select id="findAllBiologyImage" resultMap="BiologyImageMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology_image
    </select>

    <!-- 根据主键biologyId查询表biology_image信息 -->
    <select id="findBiologyImageBybiologyId" resultMap="BiologyImageMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology_image
        WHERE biology_id=#{biologyId}
    </select>

    <!-- 根据主键biologyId查询表biology_image 多表信息 -->
    <select id="findBiologyImageListBybiologyId" resultMap="BiologyImageMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology_image
        WHERE biology_id=#{biologyId}
    </select>

    <!-- 根据条件查询表biology_image信息 -->
    <select id="findBiologyImageByCondition" resultMap="BiologyImageMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology_image
        WHERE 1=1
        <include refid="BiologyImageByCondition"/>
    </select>

    <!-- 根据主键biologyId删除表biology_image信息 -->
    <delete id="deleteBiologyImageBybiologyId">
        DELETE
        FROM biology_image
        WHERE biology_id = #{biologyId}
    </delete>

    <!-- 根据主键biologyId更新表biology_image信息 -->
    <update id="updateBiologyImageBybiologyId" parameterType="com.zzw.animalserve.entity.BiologyImage">
        UPDATE biology_image
        <set>
            <include refid="BiologyImageSetColumns"/>
        </set>
        WHERE
        biology_id=#{biologyId}
    </update>

    <!-- 新增表biology_image信息 -->
    <insert id="addBiologyImage">
        INSERT INTO biology_image ( biology_id
                                  , Image_Information_id)
        VALUES ( #{biologyId}
               , #{imageInformationId})
    </insert>
</mapper>