<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzw.animalserve.mapper.BiologyMapper">

    <!-- 通用设置 -->
    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        biology_id
        , biology_name, Morphological_description, biology, Distribution_abroad, Domestic_distribution, Bos_id, Bovidae_id, ARTIODACTYLA_id, Mammalia_id, Chordata_id, Animalia_id, create_id, create_time, update_id, update_time, delect_tag
    </sql>

    <!-- 通用条件列 -->
    <sql id="BiologyByCondition">
        <if test="biologyName!=null and biologyName!=''">
            AND biology_name = #{biologyName}
        </if>
        <if test="morphologicalDescription!=null and morphologicalDescription!=''">
            AND Morphological_description = #{morphologicalDescription}
        </if>
        <if test="biology!=null and biology!=''">
            AND biology = #{biology}
        </if>
        <if test="distributionAbroad!=null and distributionAbroad!=''">
            AND Distribution_abroad = #{distributionAbroad}
        </if>
        <if test="domesticDistribution!=null and domesticDistribution!=''">
            AND Domestic_distribution = #{domesticDistribution}
        </if>
        <if test="bosId!=null and bosId!=''">
            AND Bos_id = #{bosId}
        </if>
        <if test="bovidaeId!=null and bovidaeId!=''">
            AND Bovidae_id = #{bovidaeId}
        </if>
        <if test="artiodactylaId!=null and artiodactylaId!=''">
            AND ARTIODACTYLA_id = #{artiodactylaId}
        </if>
        <if test="mammaliaId!=null and mammaliaId!=''">
            AND Mammalia_id = #{mammaliaId}
        </if>
        <if test="chordataId!=null and chordataId!=''">
            AND Chordata_id = #{chordataId}
        </if>
        <if test="animaliaId!=null and animaliaId!=''">
            AND Animalia_id = #{animaliaId}
        </if>
        <if test="createId!=null and createId!=''">
            AND create_id = #{createId}
        </if>
        <if test="createTime!=null">
            AND create_time = #{createTime}
        </if>
        <if test="updateId!=null and updateId!=''">
            AND update_id = #{updateId}
        </if>
        <if test="updateTime!=null">
            AND update_time = #{updateTime}
        </if>
        <if test="delectTag!=null and delectTag!=''">
            AND delect_tag = #{delectTag}
        </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="BiologySetColumns">
        <if test="biologyName!=null and biologyName!=''">
            biology_name = #{biologyName},
        </if>
        <if test="morphologicalDescription!=null and morphologicalDescription!=''">
            Morphological_description = #{morphologicalDescription},
        </if>
        <if test="biology!=null and biology!=''">
            biology = #{biology},
        </if>
        <if test="distributionAbroad!=null and distributionAbroad!=''">
            Distribution_abroad = #{distributionAbroad},
        </if>
        <if test="domesticDistribution!=null and domesticDistribution!=''">
            Domestic_distribution = #{domesticDistribution},
        </if>
        <if test="bosId!=null and bosId!=''">
            Bos_id = #{bosId},
        </if>
        <if test="bovidaeId!=null and bovidaeId!=''">
            Bovidae_id = #{bovidaeId},
        </if>
        <if test="artiodactylaId!=null and artiodactylaId!=''">
            ARTIODACTYLA_id = #{artiodactylaId},
        </if>
        <if test="mammaliaId!=null and mammaliaId!=''">
            Mammalia_id = #{mammaliaId},
        </if>
        <if test="chordataId!=null and chordataId!=''">
            Chordata_id = #{chordataId},
        </if>
        <if test="animaliaId!=null and animaliaId!=''">
            Animalia_id = #{animaliaId},
        </if>
        <if test="createId!=null and createId!=''">
            create_id = #{createId},
        </if>
        <if test="createTime!=null">
            create_time = #{createTime},
        </if>
        <if test="updateId!=null and updateId!=''">
            update_id = #{updateId},
        </if>
        <if test="updateTime!=null">
            update_time = #{updateTime},
        </if>
        <if test="delectTag!=null and delectTag!=''">
            delect_tag = #{delectTag},
        </if>
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BiologyMap" type="com.zzw.animalserve.entity.Biology">
        <id column="biology_id" property="biologyId"/>
        <result column="biology_name" property="biologyName"/>
        <result column="Morphological_description" property="morphologicalDescription"/>
        <result column="biology" property="biology"/>
        <result column="Distribution_abroad" property="distributionAbroad"/>
        <result column="Domestic_distribution" property="domesticDistribution"/>
        <result column="Bos_id" property="bosId"/>
        <result column="Bovidae_id" property="bovidaeId"/>
        <result column="ARTIODACTYLA_id" property="artiodactylaId"/>
        <result column="Mammalia_id" property="mammaliaId"/>
        <result column="Chordata_id" property="chordataId"/>
        <result column="Animalia_id" property="animaliaId"/>
        <result column="create_id" property="createId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_id" property="updateId"/>
        <result column="update_time" property="updateTime"/>
        <result column="delect_tag" property="delectTag"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BiologyMapResult" type="com.zzw.animalserve.entity.Biology">
        <id column="biology_id" property="biologyId"/>
        <result column="biology_name" property="biologyName"/>
        <result column="Morphological_description" property="morphologicalDescription"/>
        <result column="biology" property="biology"/>
        <result column="Distribution_abroad" property="distributionAbroad"/>
        <result column="Domestic_distribution" property="domesticDistribution"/>
        <result column="Bos_id" property="bosId"/>
        <result column="Bovidae_id" property="bovidaeId"/>
        <result column="ARTIODACTYLA_id" property="artiodactylaId"/>
        <result column="Mammalia_id" property="mammaliaId"/>
        <result column="Chordata_id" property="chordataId"/>
        <result column="Animalia_id" property="animaliaId"/>
        <result column="create_id" property="createId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_id" property="updateId"/>
        <result column="update_time" property="updateTime"/>
        <result column="delect_tag" property="delectTag"/>
        <association property="animalia" javaType="com.zzw.animalserve.entity.Animalia" select="com.zzw.animalserve.mapper.AnimaliaMapper.findAnimaliaByanimaliaId" column="Animalia_id"></association>
        <association property="chordata" javaType="com.zzw.animalserve.entity.Chordata" select="com.zzw.animalserve.mapper.ChordataMapper.findChordataBychordataId" column="Chordata_id"></association>
        <association property="mammalia" javaType="com.zzw.animalserve.entity.Mammalia" select="com.zzw.animalserve.mapper.MammaliaMapper.findMammaliaBymammaliaId" column="Mammalia_id"></association>
        <association property="artiodactyla" javaType="com.zzw.animalserve.entity.Artiodactyla" select="com.zzw.animalserve.mapper.ArtiodactylaMapper.findArtiodactylaByartiodactylaId" column="ARTIODACTYLA_id"></association>
        <association property="bovidae" javaType="com.zzw.animalserve.entity.Bovidae" select="com.zzw.animalserve.mapper.BovidaeMapper.findBovidaeBybovidaeId" column="Bovidae_id"></association>
        <association property="bos" javaType="com.zzw.animalserve.entity.Bos" select="com.zzw.animalserve.mapper.BosMapper.findBosBybosId" column="Bos_id"></association>
        <collection property="biologyImageList" ofType="com.zzw.animalserve.entity.BiologyImage" select="com.zzw.animalserve.mapper.BiologyImageMapper.findBiologyImageListBybiologyId" column="biology_id"></collection>
    </resultMap>




    <!-- 查询表biology所有信息 -->
    <select id="findAllBiology" resultMap="BiologyMapResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology
    </select>

    <!-- 根据主键biologyId查询表biology信息 -->
    <select id="findBiologyBybiologyId" resultMap="BiologyMapResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology
        WHERE biology_id=#{biologyId}
    </select>

    <!-- 根据主键biologyId查询表biology信息 -->
    <select id="findBiologyBybiologyIdList" resultMap="BiologyMapResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology
        WHERE biology_id=#{biologyId}
    </select>

    <!-- 根据主键biologyId查询表biology信息 -->
    <select id="findBiologyBybosId" resultMap="BiologyMapResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology
        WHERE Bos_id=#{bosId}
    </select>

    <!-- 根据条件查询表biology信息 -->
    <select id="findBiologyByCondition" resultMap="BiologyMapResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM biology
        WHERE 1=1
        <include refid="BiologyByCondition"/>
    </select>

    <!-- 根据主键biologyId删除表biology信息 -->
    <delete id="deleteBiologyBybiologyId">
        DELETE
        FROM biology
        WHERE biology_id = #{biologyId}
    </delete>

    <!-- 根据主键biologyId更新表biology信息 -->
    <update id="updateBiologyBybiologyId" parameterType="com.zzw.animalserve.entity.Biology">
        UPDATE biology
        <set>
            <include refid="BiologySetColumns"/>
        </set>
        WHERE
        biology_id=#{biologyId}
    </update>

    <!-- 新增表biology信息 -->
    <insert id="addBiology" useGeneratedKeys="true" keyColumn="biology_id" keyProperty="biologyId">
        INSERT INTO biology ( biology_id
                            , biology_name
                            , Morphological_description
                            , biology
                            , Distribution_abroad
                            , Domestic_distribution
                            , Bos_id
                            , Bovidae_id
                            , ARTIODACTYLA_id
                            , Mammalia_id
                            , Chordata_id
                            , Animalia_id
                            , create_id
                            , create_time
                            , update_id
                            , update_time
                            , delect_tag)
        VALUES ( #{biologyId}
               , #{biologyName}
               , #{morphologicalDescription}
               , #{biology}
               , #{distributionAbroad}
               , #{domesticDistribution}
               , #{bosId}
               , #{bovidaeId}
               , #{artiodactylaId}
               , #{mammaliaId}
               , #{chordataId}
               , #{animaliaId}
               , #{createId}
               , #{createTime}
               , #{updateId}
               , #{updateTime}
               , #{delectTag})
    </insert>
</mapper>